#loader {
    background-color: #090910;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 15px
    
}

.loaderTitle {
    background-color: #A9333A;
    margin: 0;
    box-sizing: content-box;
    width: 130px;
    padding: 10px;
    text-align: center;
    color:#090910;
    font: bold 20px "Ubuntu";
    border-radius: 10px;
    opacity: 1;
    animation: blink steps(2, jump-none) 1.5s infinite;
    animation-direction: alternate;
}

.loaderTitle:nth-of-type(2){
    animation-delay: 0.5s;
}

.loaderTitle:nth-of-type(3){
    animation-delay: 1s;
}

@keyframes blink{
    to{opacity: 0;}
}

body{
    background-color: #090910;
    font: "Ubuntu";
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    width: 60px;
    align-self: flex-start;
    padding-left: 10px;
    margin: 0;;
}


#log{
    margin: 0;
    display: flex;
    border: solid 2px #A9333A;
    background-color: #090910;
    border-radius: 10px;
    height: 40px;
    width: 630px;
    font: 100 15px "Source Code Pro";
    color: #A9333A;
    justify-content: center;
    align-items: center;
}
#container{
    box-sizing: content-box;
    min-width: 650px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#inputContainer{
    display: flex;
    width: 630px;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

#userInput{
    display: block;
    border: solid 2px #A9333A;
    background-color: #090910;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    font: bold 20px "Ubuntu";
    color: #A9333A;
    text-align: center;
}

#compInput{
    display: flex;
    border: solid 2px #A9333A;
    background-color: #090910;
    border-radius: 10px;
    height: 100px;
    width: 300px;
    font: bold 20px "Ubuntu";
    color: #A9333A;
    align-content: center;
    justify-content: center;
}

.button{
    border-radius: 5px;
    border: 0;
    height: 30px;
    width: 630px;
    background-color: #A9333A;
    font: bold 20px "Ubuntu";
    color: #090910;
    
}

#compInput>p{
    align-self: center;
}

