#loader {
    background-color: #090910;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 15px
    
}

.loaderTitle {
    background-color: #A9333A;
    margin: 0;
    box-sizing: content-box;
    width: 130px;
    padding: 10px;
    text-align: center;
    color:#090910;
    font: bold 20px "Ubuntu";
    border-radius: 10px;
    opacity: 1;
    
}